<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <style>
      .bd {
        text-align: center;
      }
      
    </style>
  </head>
  <body>
    {% include 'layout.html' %}
    <div class="bd">
      <h1>Welcome to the Audio Recording App</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non urna
        vitae odio sodales tempor.
      </p>
      <p>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
