<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <style>
      .bd {
        text-align: center;
      }
      
    </style>
  </head>
  <body>
    {% include 'layout.html' %}
    <div class="bd">
      <h1>Welcome to the Audio Recording App</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non urna
        vitae odio sodales tempor.
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis veniam, iure omnis obcaecati quo voluptatum nam quisquam amet laudantium quam ratione. Voluptatibus nam aspernatur dicta accusamus vitae blanditiis repellat cupiditate!
      Autem voluptates provident, sint eaque tenetur sed accusamus suscipit repudiandae recusandae ipsum corrupti mollitia quas iusto hic dolore dignissimos voluptate commodi omnis magni quam aliquam. Officiis aspernatur voluptas iste labore.
      Voluptatibus nemo nobis impedit dolorem odio, rerum officia corrupti ducimus molestias aperiam in quidem ut repellendus nihil laudantium. Ipsam eveniet dolores ducimus suscipit iste, quos nemo libero exercitationem dicta voluptate!
      Quisquam error exercitationem veritatis commodi quos rem incidunt dolore minima ducimus non, nostrum harum excepturi quo saepe praesentium veniam asperiores doloribus voluptates. Minima reprehenderit voluptate sint corporis ullam. Delectus, soluta?
      Maiores, eveniet optio? Voluptatem officia, maiores autem animi nulla aut rerum, fugit perferendis voluptas ullam quos in, consectetur deserunt ad tenetur laudantium quaerat exercitationem quam suscipit architecto dolore delectus? Repudiandae.
      Perferendis, cumque ut quos et possimus nulla sunt praesentium id sint dolore! Qui saepe quidem quibusdam eius facere ipsum corporis, eveniet, ut culpa sunt modi veniam veritatis eligendi voluptas consequatur!
      Eos quo doloribus accusamus repellat laboriosam eum nesciunt numquam laudantium, eligendi est nisi doloremque at praesentium nam. Deleniti commodi ex ipsum, quasi ea nemo possimus voluptate omnis fuga! Sequi, possimus.
      Dolorem expedita labore consequuntur similique? At porro, quibusdam ratione cupiditate adipisci architecto ut eveniet praesentium nisi eum laborum qui quaerat iure atque similique impedit labore numquam. Harum quos nemo et.
      Veritatis quisquam dignissimos sunt, molestias neque porro praesentium ab enim commodi sed esse inventore minus quibusdam nihil minima reiciendis natus provident officiis nulla libero excepturi exercitationem quidem voluptatum consequatur! Non!
      Sequi eum eos tenetur vitae corporis deserunt? Inventore impedit tenetur dolore facilis quisquam perspiciatis ratione earum vitae neque similique maxime commodi, nostrum sunt eos itaque aut distinctio architecto iure consequatur!
      Iusto assumenda ratione sed dignissimos mollitia alias eum, expedita nemo incidunt minus corrupti facere ipsum laborum. Cum corrupti necessitatibus odio eveniet quam consectetur labore pariatur sint, recusandae distinctio, enim officia.
      Doloribus ipsa quam quisquam culpa. Repellat, magni exercitationem dolores repellendus nostrum praesentium quia numquam distinctio ratione laboriosam placeat ullam necessitatibus nisi tempore, dicta error sit quae. Commodi expedita quisquam rerum.
      Eius beatae aperiam eum quos ipsam id illo aliquam nisi rerum ab pariatur fugit minus unde sint delectus harum, adipisci enim mollitia atque vitae veniam quis esse! Architecto, assumenda corporis.
      Cumque maxime et explicabo necessitatibus mollitia aliquid sint rerum est minima? Labore, dolorum facilis illum blanditiis, optio culpa minus minima molestiae, error iste veniam laborum odit id qui. Optio, harum!
      Tempore perferendis voluptate quas recusandae nihil! Omnis odit quos incidunt ipsa minus. Itaque illo autem reprehenderit temporibus aspernatur quo quia ex dolore quidem similique consequatur sed non corrupti, animi saepe?</p>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
